#contactus-style{
    margin: auto;
    margin-top: 20vh;
    margin-bottom: 10vh;
    width: 45%;
    border: 10px solid #ADD7F6;
    padding: 1vh;
    border-radius: 2em;
    overflow: auto;
    padding: 5vw;
}

#email{
    margin-left: 0.9vw;
    margin-bottom: 1vw;
    width: 25vw;
    height: 4vh;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    padding-left: 15px;
    font-size: 1.2em;
}
#message{
    vertical-align: top;
    width: 25vw;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    padding-left: 15px;
    font-size: 1.2em;
}
label{
    font-weight: bold;
    font-size: 1.5em;
}
#button-style{
    margin-top: 4vh;
    width: 10vw;
    background-color: #ADD7F6;
    color: #145DA0;
    padding: 1%;
    border: 0;
    border-radius: 100px ;
    font-weight: bold;
    margin-left: 30%;
    cursor: pointer;
    font-size: 1.2em;
}
#contactus-title{
    text-align: center;
    margin-bottom: 2vh;
    font-size: 1.6em;
}
/* tablets and small devices (phones, 1000px and down) */
@media only screen and (max-width:1000px) {
    #contactus-style{
        width: 80%;
    }
    #email,#message{
        width: 100%;
    }
    #button-style{
        width: 40%;
    }

}
/* Large devices (laptops/desktops, 1000px and up) */
@media only screen and (min-width:1000px) and (max-width:1400px){
    #contactus-style{
        width: 80%;
    }
    #email,#message{
        width: 100%;
    }
    #button-style{
        width: 40%;
    }
}