.fixed{
    clear: both;
}
#footer-style{
    background-color: #ADD7F6;
    margin-top: 10vh;
    font-size: 1.2em;
    font-weight: bold;
    overflow: hidden;
    
   
}
#footer-style a{
    text-decoration: none;
}

#footer-ul li{
    list-style: none;
  }
.footer-li{
    float: left;
    width: 33%;
    padding: 50px;
}

#footer-terms>li{
    display: inline;
}
#footer-terms>li:not(:last-child)::after{
    content: "|";
}
/* tablets and small devices (phones, 1000px and down) */
@media only screen and (max-width:1000px) {

    body{
        overflow-block: hidden;
    }
    #footer-style{
        width: 100%;
        height: fit-content;
    }
}
/* Large devices (laptops/desktops, 1000px and up) */
@media only screen and (min-width:1000px) and (max-width:1400px){
    #footer-style{
        width: 100%;
        height: 100%;
        font-size: 1em;
    }
}

