#home-style{
    margin-top: 20vh;
    
}
#videos-style{
    border: 0;
    margin-left: 25vh;
}
.div-title{
    text-align: center;
    margin-top: 3vh;
    
}
.products-style{
    margin-left: 13vw;
    margin-bottom: 40vh;
}
.products-style>section{
    float: left;
}
.products-style>section>h3{ 
    text-align: center;
    text-decoration: underline;
}
.products-style>section>p{ 
    text-align: center;
    width: 20vw;
    height: 15vh;
    overflow:auto;
}
.product-desc{
    text-align: center;
}
.product-features{
    font-weight: bold ;
}
section p::first-letter{
    font-size: x-large;
    color: red;
}
section{
   margin: 0.5vw;
}
.show-more-button{
    border: 0;
    padding: 1vw;
    background-color: #0275d8;
    border-radius: 8px;
    margin-left: 5vw;
}
.show-more-button>a{
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bolder;
    color: white;
}