*{
    box-sizing:  border-box;
    margin: 0;
    padding: 0;
    font-family: "Trirong", serif;
}
#nav-style{
    background-color: #ADD7F6;
    overflow: hidden; /*to appear background-color */
    /*position: fixed;
    top: 0;
    width: 100%;*/
}
#logo{
    width: 11vh;
    height: 11vh;
    margin-top: 1vh;
}
nav>ul>li{
    list-style: none;
}
.style-list{
    text-decoration: none;
    color:black;    
    font-size: 2em;
    display: block;
}
#style-ul{
    float: right;
}
#style-ul>li{
    float: left;
    margin: 3vh;
}
#style-ul>li>a:hover{
    color: #5bc0de;
    border-top: 5px solid #5bc0de
    ;
}
.active{
    background-color: #0275d8;
    border-radius: 0.3vw;
    padding: 0.3vw;
    color: white;
}
.fixed{
    clear: both;
}
.menu-style{
    display: none;
    background-color:#0275d8 ;
    overflow: hidden; /*to appear background-color */
}
.icon-style{
    color: white;
    font-size: 2.5em;
    margin : 2vh 2vh 2vh 2vh;
    float: right;
    overflow: hidden;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}
/* tablets and small devices (phones, 1000px and down) */
@media only screen and (max-width:1000px) {

    #logo{
        display: none;
    }
    .menu-style{
        display: block;
    }
    #style-ul>li{
        display: block;
        width: 80%;
        text-align: center;
        font-size: 0.8em;
    }
    #home-style>video{
        width: 60%;
        height: 50%;
    }
    #videos-style{
        margin-left: 18vw;
    }
}
/* Large devices (laptops/desktops, 1000px and up) */
@media only screen and (min-width:1000px) and (max-width:1400px){
    #logo{
        width: 100%;
    }
    #style-ul>li{
        font-size: 0.8em;
    }
    #home-style>video{
        width: 60%;
        height: 50%;
    }
    #videos-style{
        margin-left: 22vw;
    }
}

