#product-style{
    display: inline-block;
    margin:5vh 0vh 10vh 25vw;
    
  }
#car-image-desc-style {
    float: left;
    margin-right: 5vw;
    margin:10vh 5vw 0 0;
}
#car-image-desc-style h3 {
    text-align: center;
}

#product-table-style{
    float: right;
}
#price{
    font-weight: bold;
}
#product-price{
    text-align: center;
    font-size: 1.2em;
}
table {
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #0275d8;
    text-align: center;
    padding: 1vw;
    font-weight: bold;
}
tr:nth-child(even) ,thead{
    background-color: #dddddd;
}
td:nth-child(1){
    color: blue;
} 
#car-title{
    text-align: center;
    margin-bottom: 2vh;
    font-size: 1.2em;
}
/* tablets and small devices (phones, 1000px and down) */
@media only screen and (max-width:1000px) {
    #product-style{
        display: block;
    }
    #car-image-desc-style>img{
        width: 100%;
        height: 100%;
    }
    #product-catlog{
        font-size: 1.2em;
    }
    #product-table-style{
        width: 100%;
        margin: 10vw;
    }
    #car-title{
        font-size: 1.2em;
        width: 80%;
    }
    #product-price{
        font-size: 1.2em;
        width: 80%;
    }

}
/* Large devices (laptops/desktops, 1000px and up) */
@media only screen and (min-width:1000px) and (max-width:1400px){
    #product-style{
        display:block;
    }
    #car-image-desc-style>img{
        width: 100%;
        height: 100%;
    }
    #car-title{
        font-size: 1em;
    }
    #car-image-desc-style > p{
        font-size: 1em;
    }
    #product-table-style{
        width: 100%;
        margin: 10vw;
    }
    #car-title{
        font-size: 1.8em;
        width: 80%;
    }
    #product-price{
        font-size: 1.5em;
        width: 80%;
    }
}